html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#nextbtn {
  position: absolute;
  top: 300px;
  background: #64B5F6;
}

#nextbtn svg {
  width: 68px !important;
  height: 60px !important;
}

.op1 {
  background: #EF9A9A;
}

.op2 {
  background: #80CBC4;
}

.op3 {
  background: #E6EE9C;
}

.op4 {
  background: #BCAAA4;
}

.op1, .op2, .op3, .op4 {
  box-sizing: border-box;
  font-family: 'Dosis';
  font-size: 1.3em;
  display: inline-block;
  width: 48%;
  padding: 1%;
  padding-bottom: 5%;
  margin: 4% 0 0 1%;
  min-height: 50px;
}

@media only screen and (max-width: 768px) {
  .op1, .op2, .op3, .op4 {
    width: 100%;
  }
}

.question-card .ques {
  font-size: 1.6em;
  font-family: 'Source Sans Pro';
}

.question-card > div:nth-of-type(1) {
  height: 60% !important;
}

.question-card {
  width: 70%;
  background: #64B5F6;
  margin: 100px auto 0 auto !important;
  box-shadow: 0 4px 3px rgba(0,0,0,0.6), 0 8px 13px rgba(0,0,0,0.3), 0 18px 23px rgba(0,0,0,0.2)
}

.practice div.quiz {
  display: block !important;
  flex-direction: row !important;
  width: 100%;
}

.footer {
  text-align: center;
  font-family: 'Dosis';
  position: relative;
  top: 4px;
  color: rgba(0, 0, 0, 0.5);
}

.footer div {
  text-decoration: underline;
}

.logo img {
  width: 80px;
}
 .logo {
   text-align: center;
   font-family: 'Princess Sofia', cursive;
   font-size: 2em;
   position: relative;
   top: 20px;
   right: 10px;
 }

 .logo span {
   position: relative;
   top: 5px;
 }

.MuiButtonBase-root-57.MuiIconButton-root-48.MuiIconButton-colorContrast-50 {
  outline: none !important;
}

.loading div{
  color: white !important;
}

.loading.m div {
  color: #3F51B5 !important;
  margin-top: 200% !important;
}

.loading {
  margin: auto !important;
}

.badge span {
  width: 18px !important;
  height: 17px !important;
  top: -7px !important;
  right: -3px !important;
  font-size: 13px !important;
  background: #212529 !important;
}

@media only screen and (min-width: 768px) {
  .badge {
    margin-right: 18px;
  }
}

.selecte h3{
  font-family: 'Source Sans Pro' !important;
  font-weight: 400 !important;
}

.selected {
  background: #757575 !important;
  transition: 0.5s all ease-in-out !important;
}

.selected h3 {
  font-family: 'Source Sans Pro' !important;
  font-weight: 700 !important;
}

.selected * {
  color: white !important;
}

.main-container {
  background: #E8EAF6;
  min-height: 574px;
  overflow: auto;
}

.practice div.topics {
  display: flex;
  flex-direction: column !important;
}

.mainList {
  margin-top: 15% !important;
}

.listText h3 {
  color: #3F51B5 !important;
  font-weight: 700 !important;
}

.listTet h3 {
  font-weight: 700 !important;
}

.login-btn {
  display: block !important;
  margin: 10px auto 0 auto !important;
  width: 60% !important;
  max-width: 200px;
}

.remember {
  position: relative;
  left: 30%;
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .remember {
    left: 18%;
  }
  .main-login {
    min-height: 526px !important;
  }
  .main-container {
    min-height: 510px;
  }
}

.text-input input {
  color: #61045F;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.MuiInput-inkbar-57:after {
  background-color: #61045F !important;
}

.text-input {
  margin-bottom: 0 !important;
}
.text-input:nth-of-type(1) {
  margin-top: 0 !important;
}

.text-input label {
  color: #61045F !important;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Source Sans Pro' !important;
}

.login-form {
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 3px rgba(0,0,0,0.6), 0 8px 13px rgba(0,0,0,0.3), 0 18px 23px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.6), 0 8px 13px rgba(0,0,0,0.3), 0 18px 23px rgba(0,0,0,0.2);
}

.welcome h1{
  text-align: center;
  font-family: 'Princess Sofia', cursive;
}

.welcome > p:nth-of-type(1) {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
}

.welcome img {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 0.4em;
}

.main-login {
  background: #AA076B;
  background: -webkit-linear-gradient(left, #61045F, #AA076B);
  background: -o-linear-gradient(left, #61045F, #AA076B);
  background: linear-gradient(to right, #61045F, #AA076B);
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  min-height: 574px;
}

.welcome {
  margin: auto;
  width: 80%;
}
